<div class="row">
  <div class="col-md-10 col-xs-10">
    <div class="lter wrapper-md">
      <h1 class="m-n font-normal h3">Font 字体</h1>
    </div>
    <div class="wrapper-md">
      <div class="row">
        <div class="col-md-12">
          <p>跨平台的字体设定，力求在各个操作系统下都有最佳展示效果。</p>
          <section>
            <h4 class="m-t-lg" id="contrast-1">中文字体</h4>
            <p><img src="images/font.png" class="img-responsive" alt=""></p>
          </section>
          <section>
            <h4 class="m-t-lg" id="contrast-2">英文字体</h4>
            <p><img src="images/font_en.png" class="img-responsive" alt=""></p>
          </section>
          <section>
            <h4 class="m-t-lg" id="contrast-3">使用规范</h4>
            <p><pre><code data-language="css">body {font-family: "Helvetica Neue",Helvetica,"Source Han Sans","PingFang SC","Microsoft YaHei","微软雅黑","WenQuanYi Micro Hei",Arial,sans-serif;}</code></pre></p>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-2">
    <div class="suspension-area">
      <ul class="notype">
        <li ng-click="anchor('contrast-1')">中文字体</li>
        <li ng-click="anchor('contrast-2')">英文字体</li>
        <li ng-click="anchor('contrast-3')">使用规范</li>
      </ul>
    </div>
  </div>
</div>
