<div class="row">
  <div class="col-md-10 col-xs-10">
    <div class="lter wrapper-md">
      <h1 class="m-n font-normal h3">Typography 排版</h1>
    </div>
    <div class="wrapper-md">
      <div class="row">
        <div class="col-md-12">
          <p>良好的排版规范能大大提升用户的视觉体验。</p>
          <section>
            <h4 class="m-t-lg" id="contrast-1">行高和段落</h4>

            <p>考虑到阅读的舒适度和节奏感，句子和段落间需要合适的间距。行距決定了段落中各行文字的垂直距离，通过字体本身行高来控制，我们行高默认为字号的 1.5 倍。段落间距決定了段落上下的间距，一般为字号的一倍宽。</p>

            <div class="demo">
            美国，有一位曾在战场负伤的军人，当他退伍回到地方的时候，年龄和伤病成为他得到工作机会的阻碍。即使他被很多公司拒之门外，他仍然迈着坚定的步伐，继续努力寻找和争取着机会。最终，通过几番周折和努力，美国最大木材公司副总裁承诺将公司一项亟待解决的困难项目的交给他。军人郑重而坚定的承诺：“作为一名退伍军人，保证完成任务。”经过几个月的努力和付出，军人不仅挽回了公司形象，疏通了客户关系，而且解决了公司的账务问题。
            </div>
          </section>
          <section>
            <h4 class="m-t-lg" id="contrast-2">标点和空格</h4>
            <h5>标点规范</h5>
            <ul>
              <li>使用全角中文标点。</li>
              <li>遇到完整的英文整句、特殊名词，其内容使用半角标点。</li>
              <li>数字使用半角字符。</li>
              <li>不重复使用标点符号。</li>
            </ul>
            <h5>空格规范</h5>
            <ul>
              <li>中文和英文间需要空格。</li>
              <li>数字与单位之间需要增加空格。 例外：度、百分比与数字之间不需要增加空格。</li>
              <li>中文链接之间增加空格。</li>
            </ul>
          </section>
          <section>
            <h4 class="m-t-lg" id="contrast-3">对齐</h4>
            <h5>中文/英文居左对齐</h5>
            <ul>
              <li>中文和英文均采用左对齐的方式，是因为文字的阅读顺序一般是从左到右的。</li>
            </ul>
            <h5>数字/小数点对齐</h5>
            <ul>
              <li>数字通常采用右对齐或小数点对齐，这样便于对个十百千位上的数字进行对比。</li>
              <div class="demo">
                <table style="width:50%">
                  <tr>
                    <th style="text-align: left;">测试用例</th>
                    <th style="text-align: right;">变化次数</th>
                  </tr>
                  <tr>
                    <td style="text-align: left;"> Modbus 测试用例</td>
                    <td style="text-align: right;">12032</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Fins协议SYSMAC NET模式文件拷贝</td>
                    <td style="text-align: right;">21</td>
                  </tr>
                  <td style="text-align: left;">基于白名单策略的访问控制</td>
                  <td style="text-align: right;">467</td>
                  </tr>
                </table>
              </div>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xs-2">
    <div class="suspension-area">
      <ul class="notype">
        <li ng-click="anchor('contrast-1')">行高和段落</li>
        <li ng-click="anchor('contrast-2')">标点和空格</li>
        <li ng-click="anchor('contrast-3')">对齐</li>
      </ul>
    </div>
  </div>
</div>
