<div class="row">
	<div class="col-md-10 col-xs-10">
		<div class="lter wrapper-md">
			<h1 class="m-n font-normal h3">Writing 文案</h1>
		</div>
		<div class="wrapper-md">
			<div class="row">
				<div class="col-md-12">
					<p>清晰、准确、简洁的文案设计能够让界面拥有更好的可用性，同用户建立信任。我们总结了以下几个值得注意的运用方式。</p>

					<section>
						<h4 class="m-t-lg" id="contrast-1">避免专业术语</h4>
						<p>对用户来说未知的术语将增加认知负荷，应当使用常用和易于理解的词汇来避免情况的发生。</p>
					</section>
					<section>
						<h4 class="m-t-lg" id="contrast-2">避免过多细节</h4>
						<p>在大多数的交互场景之下，都无需描述出全部的细节。只在用户探索和需要信息时，逐步展示功能的细节。所以，提供信息的时候，需要考虑用户是否必须在此刻此地知道这件事。</p>
					</section>
					<section>
						<h4 class="m-t-lg" id="contrast-3">“我”还是“你”</h4>
						<p>交互中指代混乱会让用户相当纠结的，由于UI中常常会使用诸如“我的设备”“我的测试用例”这样的文案内容，所以在提示中使用 “在我的设备中调整你的设置” 这一的表述会让用户感到迷惑，规避这种问题使用 “在我的设备中调整个人设置”。</p>
					</section>
					<section>
						<h4 class="m-t-lg" id="contrast-4">慎用感叹号</h4>
						<p>感叹号会让气氛变得过于紧张。非重要提示，杜绝过度使用。</p>
					</section>
					<section>
					<h4 class="m-t-lg" id="contrast-5">省略短语</h4>
					<p>略过某些口语化的短语。诸如 “你是否。。。” “你确定。。。” 。</p>
					<p>例：“你是否要保存全部的内容修改？" 缩减为 “保存修改？”；“你确定要删除该用例？” 缩减为 "删除用例？"</p>
					</section>
					<section>
						<h4 class="m-t-lg" id="contrast-6">替代“确定”</h4>
						<p>一个好的对话框应该有明确的指示。虽然“确定”能够为用户所理解，但是选择更明确的文本替代，会让动作清晰明确，并且规避错误。</p>
						<p>例：相比于“确定/取消”这样的搭配，“删除/取消”更为直观。</p>
					</section>
					<section>
						<h4 class="m-t-lg" id="contrast-7">准确阐述错误信息</h4>
						<p>规范的表述错误信息。满足以下要素——哪里出错了？造成错误的原因？用户应当如何操作来消除错误?</p>
					</section>

				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-xs-2">
		<div class="suspension-area">
			<ul class="notype">
				<li ng-click="anchor('contrast-1')">避免专业术语</li>
				<li ng-click="anchor('contrast-2')">避免过多细节</li>
				<li ng-click="anchor('contrast-3')">“我”还是“你”</li>
				<li ng-click="anchor('contrast-4')">慎用感叹号</li>
				<li ng-click="anchor('contrast-5')">省略短语</li>
				<li ng-click="anchor('contrast-6')">替代“确定”</li>
				<li ng-click="anchor('contrast-7')">准确阐述错误信息</li>
			</ul>
		</div>
	</div>
</div>
