<div class="row">
	<div class="col-md-10 col-xs-10">
		<div class="lter wrapper-md">
			<h1 class="m-n font-normal h3">对比</h1>
		</div>
		<div class="wrapper-md">
			<div class="row">
				<div class="col-md-12">
					<p>对比是增加视觉效果最有效方法之一，同时也能在不同元素之间建立一种有组织的层次结构，让用户快速识别关键信息。</p>

					<section>
						<h4 class="m-t-lg" id="contrast-1">主次</h4>
						<p>通过调整排版、字体、大小等方式来突出层次感，区分主次关系，使得页面更具张力和节奏感。</p>
					</section>
					<section>
						<h4 class="m-t-lg" id="contrast-2">操作</h4>
						<p>为了让用户能在操作上（类似表单、弹出框等场景）快速做出判断， 来突出其中一项相对更重要或者更高频的操作。突出的方法，不局限于强化重点项，也可以是弱化其他项。</p>
						<p class="text-muted text-tag">注意：在一些需要用户慎重决策的场景中，系统应该保持中立，不能替用户或者诱导用户做出判断。</p>
						<img src="images/contrast.png" class="img-responsive" width="600" height="400">
					</section>
					<section>
						<h4 class="m-t-lg" id="contrast-3">状态</h4>
						<p>通过改变颜色、增加辅助形状等方法来实现状态关系的对比，以便用户更好的区分信息。在对元素运用状态时，必须考虑以下几个问题，以防止滥用状态而导致紊乱的信息识别：</p>
						<ul>
							<li>这个状态对用户来说是否至关重要</li>
							<li>状态之间的形状或者色调是否统一</li>
							<li>当前界面不推荐存在多种特征近似的状态</li>
							<li>使用文字描述永远为高优先级,因为相比图形,文字更能让用户明白含义</li>
						</ul>
					</section>

				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-xs-2">
		<div class="suspension-area">
			<ul class="notype">
				<li ng-click="anchor('contrast-1')">主次</li>
				<li ng-click="anchor('contrast-2')">操作</li>
				<li ng-click="anchor('contrast-3')">状态</li>
			</ul>
		</div>
	</div>
</div>
