<div class="row">
	<div class="col-md-10 col-xs-10">
		<div class="lter wrapper-md">
			<h1 class="m-n font-normal h3">反应</h1>
		</div>
		<div class="wrapper-md">
			<div class="row">
				<div class="col-md-12">
					<p>用户触发某个操作导致界面或数据发生了变化，系统就应该即时反应，同时操作级别越大、重要性越高，那么反应量级越大、重要性越高。反应太少甚至没有反应的系统，则让人感觉迟钝和笨拙。 我们总结了一些常用的场景，适当的运用反应将很好的改善用户体验。
					</p>
					<p class="text-muted text-tag">关于动画的设定，参考 <a href="#">动画</a> 章节</p>

					<section>
						<h4 class="m-t-lg" id="reaction-1">进度指示</h4>
						<p>当一个操作需要一定时间完成时，就需要即时告知进度，保持与用户的沟通。 常见的进度指示：『按钮加载』、『数据加载』、『过程加载』。可根据操作的量级和重要性，展示不同类型的进度指示。</p>
						<h5>按钮加载</h5>
						<video src="video/reaction-1.mp4" class="img-responsive" controls="controls"></video>
						<h5>数据加载</h5>
						<video src="video/reaction-2.mp4" class="img-responsive" controls="controls"></video>
						<h5>过程加载</h5>
						<video src="video/reaction-3.mp4" class="img-responsive" controls="controls"></video>
					</section>
					<section>
						<h4 class="m-t-lg" id="reaction-2">信号提醒</h4>
						<p>用于滞后的或者微小的操作提示，在不打断用户心流的前提下，给予信号提醒。</p>
						<h5>新消息</h5>
						<video src="video/reaction-4.mp4" class="img-responsive" controls="controls"></video>
						<h5>新增记录提示</h5>
						<video src="video/reaction-5.mp4" class="img-responsive" controls="controls"></video>
					</section>
					<section>
						<h4 class="m-t-lg" id="reaction-3">结果解释</h4>
						<p>告诉我刚刚发生了什么？</p>
						<h5>修改数据</h5>
						<video src="video/reaction-6.mp4" class="img-responsive" controls="controls"></video>
						<h5>删除数据</h5>
						<video src="video/reaction-7.mp4" class="img-responsive" controls="controls"></video>
					</section>

				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-xs-2">
		<div class="suspension-area">
			<ul class="notype">
				<li ng-click="anchor('reaction-1')">进度指示</li>
				<li ng-click="anchor('reaction-2')">信号提醒</li>
				<li ng-click="anchor('reaction-3')">结果解释</li>
			</ul>
		</div>
	</div>
</div>
