<div class="row">
	<div class="col-md-10 col-xs-10">
		<div class="lter wrapper-md">
			<h1 class="m-n font-normal h3">简化</h1>
		</div>
		<div class="wrapper-md">
			<div class="row">
				<div class="col-md-12">
					<p>空间和操作不是简化的唯一理由。通过运用上下文工具（即：放在内容中的操作工具），使空间、内容、操作相融合，从而简化交互。</p>
					<section>
						<h4 class="m-t-lg" id="simplify-1">悬停即现</h4>
						<p>如果某个操作不那么重要，或者过于啰嗦会影响用户阅读时，可以当悬停在该对象上时展示操作项。</p>
						<video src="video/simplify-1.mp4" class="img-responsive" controls="controls"></video>
					</section>
					<section>
						<h4 class="m-t-lg" id="simplify-2">开关切换</h4>
						<p>如果某些操作只需要在特定状态下显示，可以通过开关来实现。</p>
						<video src="video/simplify-2.mp4" class="img-responsive" controls="controls"></video>
					</section>
					<section>
						<h4 class="m-t-lg" id="simplify-3">条件激活</h4>
						<p>当触发某个条件时，激活可用元素。</p>
						<video src="video/simplify-3.mp4" class="img-responsive" controls="controls"></video>
					</section>
					<section>
						<h4 class="m-t-lg" id="simplify-4">次要隐藏</h4>
						<p>有时候不得不牺牲部分次要内容,来获得"相对完美"的用户体验(多存在于响应式设计中)。</p>
						<video src="video/simplify-4.mp4" class="img-responsive" controls="controls"></video>
					</section>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-xs-2">
		<div class="suspension-area">
			<ul class="notype">
				<li ng-click="anchor('simplify-1')">悬停即现</li>
				<li ng-click="anchor('simplify-2')">开关切换</li>
				<li ng-click="anchor('simplify-3')">条件激活</li>
				<li ng-click="anchor('simplify-4')">次要隐藏</li>
			</ul>
		</div>
	</div>
</div>
