<div>
  <div style="position: absolute;left:10%;top:20%;z-index:999;width: 500px;height: 300px;">
    <h3>指南介绍</h3>
    本指南包含【设计规范】及【前端框架库】等内容，用于各团队产品设计和开发协作，统一产品风格，复用时提升工作效率，同时保证用户体验质量。

    <div class="m-t-sm">
      <button class="btn btn-danger" href="" ng-click="openPage('design.distance')"
              ng-class="{'active': selectedItem.indexOf('design') !== -1}">设计规范
      </button>
      <button class="btn btn-danger m-l-sm" href="" ng-click="openPage('development.started')"
              ng-class="{'active': selectedItem.indexOf('development') !== -1}">组件开发
      </button>
     
     
    </div>
  </div>
  <video width="100%" style="position: absolute;  top: 0px;border:none; left: 0px; opacity: 0.7" autoplay loop>
    <source src="video/move.mp4" type="video/mp4">
  </video>


</div>
