<div class="lter wrapper-md">
	<h1 class="m-n font-thin h3">Buttons</h1>
</div>
<div class="wrapper-md">
	<div class="row">
		<div class="col-md-12">
			<h4 class="m-t-xs">Button options</h4>
			<div class="demo">
				<h4>Demo </h4>
				<div ng-include="'/guideline/components/btn1.html'"></div>
			</div>
			<div class="code">
				<a href="https://github.com/ued-kuangen/guideline/edit/master/components/btn1.html">编辑 html</a>
				<pre>
					<code data-language="html" ng-include="'/guideline/components/btn1.html'"></code>
				</pre>
				<a href="https://github.com/ued-kuangen/guideline/edit/master/css/app.min.css">编辑 css</a>
				<pre>
					<code data-language="css" ng-include="'/guideline/css/app.min.css'"></code>
				</pre>
			</div>
		</div>
	</div>
</div>

			
			
			
			
			
			
			
			
			
			
			
			
			