<div class="lter wrapper-md">
	<h1 class="m-n font-thin h3">Buttons</h1>
</div>
<div class="wrapper-md">
	<div class="row">
		<div class="col-md-12">
			<h4 class="m-t-xs">Button options<small><a href="https://github.com/ued-kuangen/guideline/edit/master/components/btn1.html"><i class="fa fa-pencil"></i></a></small></h4>
			<div class="demo">
				<div ng-include="'/guideline/components/btn1.html'"></div>
			</div>
			<div class="code">
				<pre>
					<code data-language="html" ng-include="'/guideline/components/btn1.html'"></code>
				</pre>
			</div>
		</div>
	</div>
</div>

			
			
			
			
			
			
			
			
			
			
			
			
			